<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="post">
<label for="drone-name">Name</label>
<input type="text" id="drone-name" name="name" value="{{name}}"/>
<label for="drone-propellers">propellers</label>
<input type="number" id="drone-propellers" name="propellers" value="{{propellers}}"/>
<label for="drone-maxSpeed">maxSpeed</label>
<input type="number" id="drone-maxSpeed" name="maxSpeed" value="{{maxSpeed}}"/>
<input type="submit" >
</form>